{% extends "base.html.twig" %}

{% block content %}
    <h2>LinkORB/Onatal Datastructure</h2>
    <p>
        This documentation describes the database structure (tables, columns, types, relationships) and codelists used in LinkORB-based applications such as Onatal.
    </p>
    <p>
        <b style="color: red;">NOTE:</b> This information is strictly confidential and may not be distributed unless explicit written consent has been obtained from MicroWare Automatisering B.V.
    </p>
    <h3>Introduction</h3>
    <p>Onatal (www.onatal.nl) is an electronic health record application for healthcare providers (midwives and ultrasound centers)
    <p>A general overview of the structure is available in
        <a href="https://docs.google.com/document/d/1JZN0FQagAy1oQxKA0kQBxl_claOq0XDuakG8SA3E8L8/edit?usp=drive_web&ouid=109390801936026454019">this google document</a>, but only available in Dutch at the moment.
        It will be translated into English soon, and added to this page</p>
{% endblock %}
