{% extends "base.html.twig" %}

{% block content %}
    <h2>Property definitions</h2>
    <input id="searchInput" autofocus class="form-control" style="margin-top: 10px; margin-bottom: 10px;" placeholder="Search... "/>
    <table>
        <tbody id="table-body">
        {% for definition in propertyDefinitions %}
            <tr>
                <td><a href="property-definition__{{ definition.name }}.html">{{ definition.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
